<h1>User page</h1>

<p>Hi <%= current_user.username %></p>

<%= link_to 'create event', new_user_event_path(@user) %>

<h3>My events</h3>
<%= render 'organized_events',locals: {events: @events} %>
<h3>Previously attended events</h3>
<%@user.attended_events.each do |e|%>
    <% if e.date_of_event < Date.current%>
    <%= link_to e.description,event_path(e) %>
    <% end %>
<% end %>
<h3>Upcoming events</h3>
<%@user.attended_events.each do |e|%>
    <% if e.date_of_event > Date.current%>
    <%= link_to e.description,event_path(e) %>
    <% end %>
<% end %>