<!DOCTYPE html>
<html>
  <head>
    <title>EventManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
  <div class="logo">EVENT MANAGER</div>
  <ul class="nav-items">
      <li> <%= link_to 'All events', event_index_path %> </li>
      
      <% if session[:user_id] %>
        <li><%= link_to 'Home',user_path(session[:user_id]) %></li>
        <li><%= link_to 'Logout', logout_path%>
        <li><%= link_to 'Create event', new_user_event_path(session[:user_id]) %> </li>
      <% else %>
        <li><%= link_to 'Sign In',sign_in_path %></li>
        <li><%= link_to 'Sign Up',sign_up_path %></li>
      <% end %>
    
    </ul>
  </nav>
  <main>
    <h2>Hi <%= current_user.username %></h2>
    <% if flash[:notice] || flash[:error] %>
      <p style="color:<%= flash[:notice] ? "green" : "red" %>"><%= flash[:notice] || flash[:error ] %></p>
    <% end %>
    <%= yield %>
  </main>
  
  </body>
</html>
